<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <connectionStrings>
    <add name="FGA_RW" providerName="System.Data.SqlClient" connectionString="Data Source=VWI0BDD006;Initial Catalog=E0DBFGA01;Persist Security Info=True;User ID=e0fgatp;Password=e0fgatp06"/>
    <add name="FGA_R" providerName="System.Data.SqlClient" connectionString="Data Source=VWI0BDD006;Initial Catalog=E0DBFGA01;Persist Security Info=True;User ID=e0fgatp;Password=e0fgalect06"/>
    <add name="FGA_PREPROD_RW" providerName="System.Data.SqlClient" connectionString="Data Source=VWI1BDD002;Initial Catalog=E1DBFGA01;Persist Security Info=True;User ID=e1fgatp;Password=e1fgatp02"/>
    <add name="FGA_PREPROD_R" providerName="System.Data.SqlClient" connectionString="Data Source=VWI1BDD002;Initial Catalog=E1DBFGA01;Persist Security Info=True;User ID=e1fgalect;Password=e1fgalect02"/>
    <add name="FGA_RECETTE_RW" providerName="System.Data.SqlClient" connectionString="Data Source=MEPAPP042_R;Initial Catalog=E2DBFGA01;Persist Security Info=True;User ID=E2FGATP;Password=E2FGATP25"/>
    <add name="FGA_RECETTE_R" providerName="System.Data.SqlClient" connectionString="Data Source=MEPAPP042_R;Initial Catalog=E2DBFGA01;Persist Security Info=True;User ID=E2FGALECT;Password=E2FGALECT"/>
    <add name="OMEGA" providerName="System.Data.SqlClient" connectionString="Data Source=WINPRODFGA\Q1;Initial Catalog=OMEGA;Persist Security Info=True;User ID=OMEGA_LEC;Password=OMEGA_LEC2011"/>
    <add name="FGA_DEV" providerName="System.Data.SqlClient" connectionString="Data Source=FX027471M\SQLExpress;Initial Catalog=FGA_DEV_BAK;Integrated Security=True;Connection Timeout=60"/>
    <add name="FGA_JMOINS1" providerName="System.Data.SqlClient" connectionString="Data Source=FX023179M\SQLExpress;Initial Catalog=FGA_JMOINS1;Persist Security Info=True;User ID=E2FGATP;Password=E2FGATP25"/>
    <!--add name="BEN_DB" providerName="System.Data.SqlClient" connectionString="Server=tcp:FX026896M,1433; Database=PreProLocal; User Id=super; Password=Password" /-->
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <!--
  <userSettings>
    <Assessment.Properties.Settings>
      <setting name="PATH" serializeAs="String">
        <value>\\vill1\Partage\,FGA Soft\</value>
       ______________ <value>C:\\DEVELOPPEMENT\FGA_Soft_Front\Front</value> ___________ To Commment
      </setting>
    </Assessment.Properties.Settings>
  </userSettings>
  -->
</configuration>
